<div class="about">
	<div class="row">

		<div class="col-xs-10 col-xs-offset-1">
			<h1>About Wisdom from the Wiz</h1>

			<p>"Wisdom from the Wiz" was built by Nick Taylor, a University of Delaware mechanical engineering senior who wants to make endless fun of all the ridiculous things his roommate and good friend, Kevin Malloy, says. Most often, they make no sense and end in infuriating arguments that leave logic and reason by the wayside in favor of strange noises and snapchat-worthy faces.</p>
			<br>
		</div>

	</div>

	<div class="row">
		
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<%= image_tag 'nick.jpg', class: 'img-responsive' %>
				</div>
				<div class="col-xs-12 col-sm-7 col-sm-offset-1">
					<h3 class="text-center">Nick Taylor</h3>
					<p>Nick is a world traveler, Bible study leader, guitar rocker, and code monkey. He's been coding HTML since the dark ages of &lt;table&gt; layouts. He also enjoys the finer points of machine design, thermodynamics, and heat transfer. One of the most upsetting things about being an engineering student and a computer nerd is that shows like scorpion and the big bang theory are no longer funny.</p>
				</div>
			</div>
		</div>
		
	</div>

	<br><br><br>
</div>