<h4>
	<span>WISDOM FROM THE WIZ / No. <%= @quote.id %></span>
	&mdash; The best <b>worst unsolicited advice</b> you can get!
</h4>
<h1 class="saying"><%= @quote.saying %></h1>
<h2 class="author pull-right"><%= @quote.author %></h2>